[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "==5.12.2"

[dev-packages]
pytest = "==4.6.11"
profileinspector = {editable = true, path = "."}

[requires]
python_version = "2.7"
